
<br><br><br>

<div class="container ">
    <div class="row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6  text-center">
                <ngx-gallery [options]="galleryOptions_technovus" [images]="galleryImages_technovus"></ngx-gallery>
        </div>
        <div class=" col-12 col-md-6 ">
            <h2>Technovus 2019</h2>
            <p>
                The various events organised by glug on the occasion of Technovus (our technical extravaganza) are- <br>
                <strong> Codenovus- </strong> A flagship coding competition conducted in two rounds, qualifying and final.The qualifying round was held online and shortlisted candidates got the chance to compete in the final round. <br>
                <strong> Web-o-design- </strong> A front-end web development competition  wherein the participants were to produce a replica of a sample website  shown at the time of competition using HTML,CSS,Bootstrap. <br>
                <strong> Consilium- </strong> An interactive session with Dr. Prabin Kumar Bora, Professor in the Department of Electronics and Electrical Engineering at IITG, was held.Students caught a glimpse of his accomplishments in the field of machine learning and the virtues and vices of this revolutionary technology was discussed.
            </p>
        </div>
    </div> <br><br>
    <div class="row">
        <div class="col-12 col-md-6  align-self-center">
            <h2>Python bootcamp , Compt Coding Practice</h2>
            <p>
                A two-day python bootcamp was organised where we offered classes on python programming language. The speciality of this camp was that anyone having no prior knowledge of python could participate in it.
                We also organised a practice session dealing with problems related to competitive coding.
                
            </p>
        </div>
        <div class="col-12 col-md-6  text-center"> 
                <ngx-gallery [options]="galleryOptions_bootcamp" [images]="galleryImages_bootcamp"></ngx-gallery>

        </div>
    </div> <br><br>
    <div class="row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6  text-center"> 
            <ngx-gallery [options]="galleryOptions_linux" [images]="galleryImages_linux"></ngx-gallery>

    </div>
        <div class="col-12 col-md-6  align-self-center">
            <h2>Linux introduction and installation drive</h2>
            <p>
                Annual mass linux installation fest was organised where we installed various linux operating system distributions. 
                Multiple session on linux commands and configuration of linux os evnironment was also organised.
            </p>
        </div>

    </div> <br><br>
    <div class="row ">
        <div class="col-12 col-md-6  align-self-center">
            <h2>Codingspree and Big Data Webinar</h2>
            <p>
                On the occasion of Engineer’s day we organised a flagship coding competition (Codingspree) to promote and improve the coding skills of the students.
                Another event that was organised on the very occasion of Programmer’s day i.e. on 13th of September was an online webiner session. The guests of our session were Jaydeep Deka, an alumnus of our institution, who is also a speaker at world Machine Learning Summit, Dublin, Ireland and Habib Mohammed Khan who is a scientist at ISRO, the leading research organisation of India.
            </p>
        </div>
        <div class="col-12 col-md-6  text-center"> 
                <ngx-gallery [options]="galleryOptions_programmers" [images]="galleryImages_programmers"></ngx-gallery>

        </div>
    </div> <br><br>

    <div class="row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6  text-center"> 
            <ngx-gallery [options]="galleryOptions_cynsecure" [images]="galleryImages_cynsecure"></ngx-gallery>

        </div>
        <div class="col-12 col-md-6  align-self-center">
            <h2>Cynsecure 2019</h2>
            <p>
                Cynsecure organised on the occasion of Pheonix 2019. Cynsecure was a bootcamp and the very First CTF Capture The Flag competition of the region. 
                The events organised under the supervision of Mr. Subhasmit Malakar, lasted 3 days out of which the first 2 was introduction and training on various concepts and tools of cybersecurity with the 3rd day being the final CTF day.
            </p>
        </div>

    </div> <br><br>

    <div class="row ">
        
        <div class="col-12 col-md-6  align-self-center">
            <h2>Events 2017-19</h2>
            <p>
                Showcasing some glimpse of our events throughout the year 2017-19. Mass Linux installation , linux commands tutorials , coding competitions are few of the many events conducted by glug throughout these years
            </p>
        </div>
        <div class="col-12 col-md-6  text-center"> 
            <ngx-gallery [options]="galleryOptions_legacy" [images]="galleryImages_legacy"></ngx-gallery>

        </div>

    </div> <br><br>

    <div class="row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6  text-center"> 
            <ngx-gallery [options]="galleryOptions_starting" [images]="galleryImages_starting"></ngx-gallery>

        </div>
        <div class="col-12 col-md-6  align-self-center">
            <h2>Events 2015-2017</h2>
            <p>
                Catch a glimpse of some of event organised in the very early years of Jec GLUG. Founded in 2013 under the supervision of MR. Rajib Chakrabartty Sir we are proud to be 
                one the very first group of its kind in the entire region of jorhat and upper assam`.
            </p>
        </div>

    </div> <br><br>
</div>


<!-- <img src="../../../assets/img/glug 200.jpg" alt="">
<img src="../../../assets/img/glug main new logo blue.png" alt="">
<img src="../../../assets/img/header-bg.jpg" alt=""> -->