h2{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
}



.show-xs{
    display: none;
}
@media only screen and (max-width: 500px) {
    .show-xs {
        display: block;    
    }
    .hide-xs{
        display: none;
    }
    
}