
<br><br><br>

<div class="container ">
    <div class="row ">
        <div class=" col-12 col-md-6  align-self-center show-xs">
            <h2>Technovus 2019</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, eius? Culpa, ipsa quasi consectetur incidunt animi, quia quod inventore eligendi velit vel harum! Nihil voluptatibus commodi harum aliquam rerum omnis!</p>
        </div>
        <div class="col-12 col-md-6  text-center">
                <ngx-gallery [options]="galleryOptions_technovus" [images]="galleryImages_technovus"></ngx-gallery>
        </div>
        <div class=" col-12 col-md-6   hide-xs">
            <h2>Technovus 2019</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, eius? Culpa, ipsa quasi consectetur incidunt animi, quia quod inventore eligendi velit vel harum! Nihil voluptatibus commodi harum aliquam rerum omnis!</p>
        </div>
    </div> <br><br>
    <div class="row">
        <div class="col-12 col-md-6  align-self-center">
            <h2>Codingspree</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, eius? Culpa, ipsa quasi consectetur incidunt animi, quia quod inventore eligendi velit vel harum! Nihil voluptatibus commodi harum aliquam rerum omnis!</p>
        </div>
        <div class="col-12 col-md-6  text-center"> 
                <ngx-gallery [options]="galleryOptions_programmers" [images]="galleryImages_programmers"></ngx-gallery>

        </div>
    </div>
</div>


<!-- <img src="../../../assets/img/glug 200.jpg" alt="">
<img src="../../../assets/img/glug main new logo blue.png" alt="">
<img src="../../../assets/img/header-bg.jpg" alt=""> -->