 <!-- Services -->
 <section class="page-section" id="services" style="background-color:rgb(240, 240, 240)">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-heading text-uppercase" style="font-family: 'Dancing Script'; font-weight: 900;">Activities</h1>
          <h3 class="section-subheading text-muted">We have given our best to provide you with every opportunities possible</h3>
        </div>
      </div>
<div class="row">  
<div class="card-container column"> 
  <div class="card card--dark"><a href="#" onclick="return false;">
      <div class="card--display"><i class="fa fa-child" style="color:red"></i>
        <h2>Trainings and Classes</h2>
      </div>
      <div class="card--hover">
        <h2>Linux command session</h2>
        <p>Linux commands were taught to the students to help them gain knowledge about linux systems.Important commands and linux os fundamentals were demonstrated.</p>
        <!--<p class="link">Click to see project</p>-->
      </div></a>
    <div class="card--border"></div>
  </div>
</div>
<div class="card-container column"> 
  <div class="card card--dark"><a href="#" onclick="return false;">
      <div class="card--display"><i class="fa fa-bolt" style="color:red"></i>
        <h2>Comepetitions and Seminars</h2>
      </div>
      <div class="card--hover">
        <h2>Technovus events</h2>
        <p>Three main events-coding competition,seminar on machine learning and a front-web development competition was organised.</p>
        <!--<p class="link">Click to see project</p>-->
      </div></a>
    <div class="card--border"></div>
  </div>
</div>
<div class="card-container column"> 
  <div class="card card--dark"><a href="#" onclick="return false;">
      <div class="card--display"><i class="fa fa-paper-plane-o" style="color:red"></i>
        <h2>Workshops and bootcamps</h2>
      </div>
      <div class="card--hover">
        <h1>Python bootcamp</h1>
        <p>Because of its importance, a python bootcamp was organised to teach the students this programming language from the very basics.</p>
        <!--<p class="link">Click to see project</p>-->
      </div></a>
    <div class="card--border"></div>
  </div>
</div></div>
    </div>
  </section>