 <!-- Services -->
 <section class="page-section" id="services" style="background-color:rgb(240, 240, 240)">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-heading text-uppercase" style="font-family: 'Dosis', sans-serif;font-weight: 500;">Activities</h1>
          <h3 class="section-subheading text-muted">We have given our best to provide you with every opportunities possible</h3>
        </div>
      </div>
<div class="row">  
<div class="card-container column"> 
  <div class="card card--dark"><a href="#" onclick="return false;">
      <div class="card--display"><i class="fa fa-child" style="color:red"></i>
        <h2>Trainings and Classes</h2>
      </div>
      <div class="card--hover">
        <h2>Trainings and Classes</h2>
        <p>
          We organise various training and classes on emerging fields in Computer Technology. Sessions on Linux Operating System, cybersecurity, development are a few examples.
        </p>
        <!--<p class="link">Click to see project</p>-->
      </div></a>
    <div class="card--border"></div>
  </div>
</div>
<div class="card-container column"> 
  <div class="card card--dark"><a href="#" onclick="return false;">
      <div class="card--display"><i class="fa fa-bolt" style="color:red"></i>
        <h2>Comepetitions and Seminars</h2>
      </div>
      <div class="card--hover">
        <h2>Comepetitions and Seminars</h2>
        <p>
          Various Comepetitions in the field of competitive coding, web development and Seminars are held regularly to provide students with exposure of real world scenerios in the field of Computer Science.
        </p>
        <!--<p class="link">Click to see project</p>-->
      </div></a>
    <div class="card--border"></div>
  </div>
</div>
<div class="card-container column"> 
  <div class="card card--dark"><a href="#" onclick="return false;">
      <div class="card--display"><i class="fa fa-paper-plane-o" style="color:red"></i>
        <h2>Workshops and bootcamps</h2>
      </div>
      <div class="card--hover">
        <h2>Workshops and bootcamps</h2>
        <p>
          Learning and keeping up with new technologies is very important for anyone in the field Computer Science. Keeping this in mind we organise Workshops and bootcamps on the latest and popular fields of 
          Computer Science.
        </p>
        <!--<p class="link">Click to see project</p>-->
      </div></a>
    <div class="card--border"></div>
  </div>
  </div>
  </div>
    </div>
<div class="row" style="padding-top: 5em;">
  <div class="col text-center">
    <H5> Visit our all new blog and questionnaire site, <br> A Hub for all CS related stories
    <a href="https://hub.jecglug.in" target="_blank" style="color:red">GLUGHUB</a> </H5>
  </div>
</div>
  </section>