 <!-- Contact -->
 <section class="page-section" id="contact">
    <div class="container">
     
      <div class="row align-items-center">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Connect with us</h2>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-12 text-center">
          <h6 class="section-subheading text-muted">We are available on Instagram and Facebook</h6>
        </div>
      </div>
      

      </div>

      <div class="container social">

        <div class="row align-items-end justify-content-center" style="height: 5rem;">

          <div class="col align-self-center text-center">
            <ul class="social-buttons">
              <a href="https://instagram.com/jecglug?igshid=a41h882poiuf" target="_blank" class="social-links">
                <!-- <i class="fas fa-instagram fa-lg"></i> -->
                <fa-icon [icon]="faInstagram"></fa-icon>

              </a>
            </ul>
          </div>
          <div class="col text-center">
            <ul class="social-buttons">
              <a href="https://www.facebook.com/jec.glug" target="_blank" class="social-links">
                <!-- <i class="fas fa-facebook-square fa-lg"></i> -->
                <fa-icon [icon]="faFacebook"></fa-icon>

              </a>
            </ul>
          </div>
          <div class="col text-center">
            <ul class="social-buttons">
              <a href="#" class="social-links">
                <!-- <i class="fas fa-linkedin-square fa-lg"></i>
                 -->
                 <fa-icon [icon]="faLinkedin"></fa-icon>
              </a>
            </ul>
          </div>                    
        </div>
      </div>
     
      
   
  </section>