
section#contact {
    background-color: #212529;
    background-image: url("../../assets/img/map-image.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 10px;
    }
    
    section#contact .page-section{
        padding-top: 50px;
        padding-bottom: 10px;
    }

    section#contact .section-heading {
    color: #fff;
    }

    .social{
        padding-top: 100px;
    }
    
    ul.social-buttons {
    margin-bottom: 50;
    margin-left: -40px;
    font-size: 40px ;
    transition:  0.3s;
    }

    ul.social-buttons:hover {
        font-size: 42px ;
    }
    
    ul.social-buttons li a {
    font-size: 20px;
    line-height: 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
    }

    ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #fed136;
    }

    .fas{
        color: white;
    }

    .fas:hover{
        color: #fed136;
    }
