
<!-- Header -->
<!-- <header class="masthead">
    <div class="videoBox">
      <div class="videoOverlay"></div>
      <video controls loop autoplay>
        <source src="../../../assets/videos/glitchLogo_2.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="container"> -->
  
      <!-- <div class="intro-text"> -->
      <!-- <div class="intro-lead-in">Welcome To Our Studio!</div> -->
      <!-- <div class="intro-heading text-uppercase">It's Nice To Meet You</div> -->
      <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a> -->
      <!-- </div> -->
    <!-- </div>
  </header> -->

<header>

<div class="vheader">
    <div class="overlay">  
        <!-- Insert Scrol down in here-->
        <!-- <div class="hoverWrapper">
          <div class="default">

                <h4 >Scroll down to get started</h4>

          </div>
          <div class="hoverShow1">

            <h1 class="white-text my-1">
              <fa-icon [icon]='faAngleDoubleDown'></fa-icon>

          </h1>
          </div>
        </div> -->

        <div class="container" style="height: inherit;">
          <div class="row align-items-end justify-content-center">
            <div class="col-12 text-center">
              <h4>Scroll Down to get started</h4>
              <div> <fa-icon [icon]='faAngleDoubleDown'></fa-icon> </div>

            </div>
          </div>
        </div>
    </div> 
     <video id="videobg" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
     <source src="../../../assets/videos/glug compress 3.webm" type="video/mp4">
    </video> 
</div>


<!-- FOR MOBILE DEVICES -->
<div class="intro">  
  <div class="row">
    <div class="col-12 xs-12 align-self-start " style="display: none;">
    </div>
    <div class="col-12 xs-12 align-self-center text-center"
    data-aos="zoom-in"
    data-aos-anchor-placement="top-bottom"
    style="margin-bottom: -45vh;">
        <img class="img-fluid" src="../../../assets/img/glug logo scale.png" alt="">
    </div>
    <div class="col-12 xs-12 align-self-end text-center">
      Scroll Down <br>
      <!-- <i class="fas fa-angle-double-down fa-lg"></i> -->
      <fa-icon [icon]='faAngleDoubleDown'></fa-icon>
      <br>
    </div>
  </div>
</div>

</header>