

.section-heading h1{
  /* font-family: 'Dancing Script'; */
  font-weight: 900;
}

.section-subheading h3{
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  font-family: 'Droid Serif'
}
.card{
    height: 20rem;
    perspective: 1000px;
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    /* width: 50vh; */
    height: inherit;

     /* Remove this if you don't want the 3D effect */
}

/*
flip card
*/



.card-flip > div {
    backface-visibility: hidden;
    transition: transform 500ms;
    transition-timing-function: linear;
    width: 100%;
    height: inherit;
    margin-bottom: 15px;
    display: flex;
  }
  
  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    background-color: black;
    color: white;
  }

  .card-back .card-body{
    border: 2px solid #fec503;
    margin: 10px;
  }
  /* .card-back .card-body button{
    color:  #fec503;
    
  } */

  .card-back .card-title{
    color: #fec503;
    font-family: 'sans-serif';
  }
  
  .card-flip:hover .card-front {
    transform: rotateY(-180deg);
  }
    
  .card-flip:hover .card-back {
    transform: rotateY(0deg);
  }

 

  .modal{
    z-index: 10002;
  }