  <!-- About -->
  <section class="page-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-heading text-uppercase" style="font-family: 'Dosis', sans-serif;font-weight: 500;">LATEST EVENTS</h1>
          <h3 class="section-subheading text-muted">Featuring Some of our latest events</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image" style="background-color: #e9ecef;">
                <img class="rounded-circle img-fluid" src="../../../assets/img/codenovus sc-min.png" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4><pre>3<sup>rd</sup>Nov 2019</pre></h4>
                  <h4 class="subheading">Codenovus</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">It is a flagship coding competition that was conducted in two rounds i.e. qualifying and final.The qualifying round was held online and shortlisted candidates got the chance to compete in the final round.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="../../../assets/img/consilium fhd.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4><pre>2<sup>nd</sup>Nov 2019</pre></h4>
                  <h4 class="subheading">Consilium</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">An interactive session with Dr. Prabin Kumar Bora, Professor in the Department of Electronics and Electrical Engineering at IITG, was held.Students caught a glimpse of his accomplishments in the field of machine learning and the virues and vices of this revolutionary technology was discussed.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="../../../assets/img/web-o-design sc-min.png" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4><pre>2<sup>nd</sup>Nov 2019</pre></h4>
                  <h4 class="subheading">Web-o-design</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">A front-end web development competition was organised wherein the participants were to produce a replica of the website that was shown at the time of competition using HTML,CSS,Bootstrap,JS.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted hide-mobile">
              <div class="timeline-image">
                
                <a href="/past-events" style="color: white"> 
                <h4>View
                  <br>All
                  <br>Events!
                </h4>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 show-mobile text-center" >
          <a href="/past-events" > 
          <h3 style="font-family: 'Dosis', sans-serif;font-weight: 500; ">View all Events!!</h3>
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="container text-center" id="registration-form">
    <h2 class="display-4">Please Fill the form below for GLUG orientation</h2>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfRK7ENQzUZ6rqyTtfZK3hIsnEHbwMLS85nLX0eINDnZ1SumQ/viewform?embedded=true" 
      width="100%" height="1048" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>   
  </div>