<section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-heading text-uppercase" style="font-family: 'Dosis', sans-serif;font-weight: 500;">REGISTRATION FOR THE YEAR 2022</h1>
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfM2_AActPTz2xRLS-QTdkvR81S5POuwAfz1vsmV3B6zFX44A/viewform?embedded=true" width=100% height="1257" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe><br><br><br>
          <h1 class="section-heading text-uppercase" style="font-family: 'Dosis', sans-serif;font-weight: 500;">Our Team</h1>
          <h3 class="section-subheading text-muted"><br></h3> 
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../../assets/img/biswajit sir.jpg" loading="lazy" alt="">
            <h4>Biswajit Sarmah</h4>
            <p class="text-muted">Faculty Supervisor <br>Assistant Professor <br> Computer Science and Engineering </p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/biswajit-sarma-3a42b425/" target="_blank">
                  <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="col-sm-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../../assets/img/sourav.jpg" loading="lazy" alt="">
            <h4>Sourav Mazumdar</h4>
            <p class="text-muted">Club Head <br>Final year <br> Computer Science and Engineering </p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/sourav-mazumdar-57773a181/" target="_blank">
                  <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="mailto:sauravmzdr@jecassam.ac.in" target="_blank">

                  <fa-icon [icon]="faEnvelope"></fa-icon>

                </a>
              </li>
            </ul>
          </div>
        </div> -->
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../../assets/img/bhaskar.jpeg" loading="lazy" alt="">
            <h4>Bhaskar Jyoti Bhattarcharya</h4>
            <p class="text-muted">Club Head <br>Final year <br> Computer Science and Engineering </p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/bhaskar-jyoti-bhattacharya-0a820817b/" target="_blank">
                  <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="mailto:bhaskarbhattacharya5@gmail.com" target="_blank">

                  <fa-icon [icon]="faEnvelope"></fa-icon>

                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../../assets/img/aritra.jpeg" loading="lazy" alt="">
            <h4>Aritra Kaushik</h4>
            <p class="text-muted">Co Head <br>Final year <br> Computer Science and Engineering </p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/aritra-k-414879134/" target="_blank">
                  <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="mailto:aritra.kaushik@gmail.com" target="_blank">

                  <fa-icon [icon]="faEnvelope"></fa-icon>

                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-12 text-center" style="font-family: Dancing Script; font-weight: bold;">
              <p style="font-size: large;">
                  With Members from all 4 years and all 5 Branches we stand together as a Strong United Community
              </p>
          </div>
      </div>
    </div>

    <div class="credit" >
        <div class="container">
          <div class="row">
            <div class="col-4 xs-4 text-center"> <a href="https://www.linkedin.com/in/bhaskar-jyoti-bhattacharya-0a820817b" target="_blank"> Bhaskar</a> </div>
            <div class="col-4 xs-4 text-center"><a href="https://www.linkedin.com/in/aritra-k-414879134" target="_blank"> Aritra </a> </div>
            <div class="col-4 xs-4 text-center"> <a href="https://www.linkedin.com/in/pijush-bhuyan-05645a188" target="_blank"> Pijush</a> </div>
    
          </div>
          <div class="row">
            <div class="col-3 xs-3 text-center"> <a href="https://www.linkedin.com/in/jyotiska-bharadwaj-b49476167" target="_blank"> Jyotiska</a> </div>
    
            <div class="col-6 xs-6 text-center"
            style="font-family: 'Dosis', sans-serif;font-weight: 500;">
                Webiste Credits 
            </div>
            <div class="col-3 xs-3 text-center"><a href="https://www.linkedin.com/in/kibri-ahsan-97397418b/" target="_blank"> Kibri</a></div>
    
          </div>
          <div class="row">
            <div class="col-4 xs-4 text-center"> <a href="https://www.linkedin.com/in/bishakha-bikhya-733209191" target="_blank"> Bishakha </a> </div>
            <div class="col-4 xs-4 text-center">Deepsekhar</div>
            <div class="col-4 xs-4 text-center"> <a href="https://www.linkedin.com/in/rupam-jyoti-das-218a521a6/" target="_blank"> Rupam</a> </div>
    
          </div>
    
        </div>
    </div>
        
  </section>




