<section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../assests/img/team/1.jpg" alt="">
            <h4>Biswajit Sharma</h4>
            <p class="text-muted">Faculty Superviser <br>Assistant Proffessor <br> Computer Science and Engineering </p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../assests/img/team/2.jpg" alt="">
            <h4>Sourav Mazumdar</h4>
            <p class="text-muted">Club Head <br>Pre Final year <br> Computer Science and Engineering </p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-12 text-center" style="font-family: Dancing Script; font-weight: bold;">
              <p style="font-size: large;">
                  With Members from all 4 years and all 5 Branches we stand together as a Strong United Community
              </p>
          </div>
      </div>
    </div>

    <div class="credit" >
        <div class="container">
          <div class="row">
            <div class="col-4 xs-4 text-center">Bhaskar</div>
            <div class="col-4 xs-4 text-center">Aritra</div>
            <div class="col-4 xs-4 text-center">Pijush</div>
    
          </div>
          <div class="row">
            <div class="col-4 xs-4 text-center">Kibri</div>
    
            <div class="col-4 xs-4 text-center"
            style="    font-family: 'Dancing Script'; font-weight: bolder;        ">
                Special Thanks to
            </div>
            <div class="col-4 xs-4 text-center">Jyotiska</div>
    
          </div>
          <div class="row">
            <div class="col-4 xs-4 text-center">Bishakha</div>
            <div class="col-4 xs-4 text-center">Deepsekhar</div>
            <div class="col-4 xs-4 text-center">Rupam</div>
    
          </div>
    
        </div>
    </div>
        
  </section>




