
<!-- Header -->
<!-- <header class="masthead">
    <div class="videoBox">
      <div class="videoOverlay"></div>
      <video controls loop autoplay>
        <source src="../../../assets/videos/glitchLogo_2.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="container"> -->
  
      <!-- <div class="intro-text"> -->
      <!-- <div class="intro-lead-in">Welcome To Our Studio!</div> -->
      <!-- <div class="intro-heading text-uppercase">It's Nice To Meet You</div> -->
      <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a> -->
      <!-- </div> -->
    <!-- </div>
  </header> -->


<div class="vheader">
    <div class="overlay">  
        <!-- Insert Scrol down in here-->
        <div class="hoverWrapper">
          <div class="default">
            <h4 >Scroll down to get started</h4>
          </div>
          <div class="hoverShow1">
            <i class="fas fa-angle-double-down fa-10x"></i>
          </div>
        </div>
    </div> 
     <video id="videobg" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="../../../assets/videos/glitchLogo_2.mp4" type="video/mp4">
    </video> 
</div>