<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 text-centre text-md-right" data-aos="fade-right" data-aos-anchor-placement="top-center">
                
                <div class="section-heading">
                    <h4 class="display-4">What Is GLUG</h4>
                </div>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ea quaerat, itaque, nulla delectus ex veritatis eaque id quisquam excepturi sequi tenetur totam! Eius debitis quas sequi ab, natus totam.</p>

            </div>

            <div class="col-12 col-md-1 vl hide-mobile " data-aos="fade-up"  data-aos-anchor-placement="top-center">
            </div>

            <div 
             class="col-12 col-md-5 d-flex justify-content-center hide-mobile text-left"
             data-aos="fade-left"
             data-aos-anchor-placement="top-center">
                <img class="img-fluid" src="../../../assets/img/glug main new logo.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center "
            style="font-family: 'Dancing Script';"
            >
                <br><br><br><br>
                Hope to See you in our Next event
            </div>
        </div>
    </div>
</section>