<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 text-centre text-md-right" data-aos="fade-right" data-aos-anchor-placement="top-center">
                
                <div class="section-heading">
                    <h4 class="display-4">What Is GLUG</h4>
                </div>
                <br>
                <p>
                    Jorhat Engineering College GNU Linux Users Group is a community of enthusiastic people passionate about Computers and Technology. 
                    The main objective of the group is to promote and create an environment where people can share and work on new ideas and help each other learn and grow.
                    We at Jec GLUG believe in the freedom of knowledge and thus 'Free As In Freedom' is our proud moto. 
                </p>

            </div>

            <div class="col-12 col-md-1 vl hide-mobile " data-aos="fade-up"  data-aos-anchor-placement="top-center">
            </div>

            <div 
             class="col-12 col-md-5 d-flex justify-content-center hide-mobile text-left"
             data-aos="fade-left"
             data-aos-anchor-placement="top-center">
                <img class="img-fluid" src="../../../assets/img/glug logo scale.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center "
            style="font-family: 'Dancing Script';"
            >
                <br><br><br><br>
                <h4>
                Interested in Tech? We are here for you!
                </h4>
            </div>
        </div>
    </div>
</section>
